@import '../../styles/mediaqueries';

.projects {
    margin: 0 auto 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @include MQ ($desktop) {
        margin: 110px auto;
        flex-direction: row;
    }
}

    .projects a {
        flex: 0 0 45%;
    }
  
    .projects img {
        width: 100%;
        height: auto;
        border: solid 1px black;
    }
