@import 'tools';


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--typo-main);
    font-weight: 600;
    color: var(--color-black);
}


p, .p, small, .small, big, .big {
    font-family: var(--typo-main);
    line-height: 1.5em;
    font-weight: 300;
    margin: 0 0 1em 0;
}

p, .p {
    font-size: 1.6rem;

    @include MQ ($tablet) {
        font-size: 1.8rem;
    }
}

small, .small {
    font-size: 1.4rem;

    @include MQ ($tablet) {
        font-size: 1.6rem;
    }
}

big, .big {
    font-size: 1.8rem;

    @include MQ ($tablet) {
        font-size: 2rem;
    }
}


a, .a {
    color: var(--color-greyscale3);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.6rem;
    margin-bottom: 0.5em;

    @include MQ ($tablet) {
        font-size: 1.8rem;
    }

    &:hover {
        color: var(--color-orange);
    }
}