@import '../../styles/mediaqueries';

.card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 100px auto;
    justify-content: center;
    gap: 20px;

    @include MQ ($desktop) {
      gap: 20px;
    }
}

.card__image {
    width: 60vw;
    margin-left: -65px;
    height: 70vh;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    img {
      border: solid 1px black;
      max-width: 100%;
      height: 100%;
      scroll-snap-align: start;
    }
}

.card__image::-webkit-scrollbar {
  display: none;
}

.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-left: -70px;
}

    .card__link p {
        transform: rotate(-90deg);
        margin-bottom: 50px;
    }

    .card__link img {
        width: 10px;
        animation: arrowAnimation 1.5s infinite;
    }
    
    @keyframes arrowAnimation {
      0% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(10px);
      }
    }

.card__dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  gap: 10px;
}
      
      .card__dot {
        width: 2px;
        height: 33%;
        background-color: #000;
        opacity: 0.3;
        transition: opacity 0.3s;
      }
      
      .card__dot.active {
        opacity: 1;
      }
      